:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --brand-color: #2196f3;
  --hover-brand-color: #188ce8;
  --black-text-color: #000000;
  --primary-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
}
body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  color: var(--title-text-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Шапка сайту */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
}
.nav-callback {
  display: flex;
  align-items: center;
  gap: 50px;
}
.page-header {
  border: 1px solid var(--black-text-color);
  font-weight: 500;
}
.logo,
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--brand-color);
  padding: 25px 0;
}
.header-logo {
  color: var(--black-text-color);
}
.footer-logo {
  color: var(--primary-color);
}
.site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.site-nav,
.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-menu {
  padding: 32px 0;
  color: var(--title-text-color);
}
.nav-menu:hover,
.nav-menu:focus,
.current {
  color: var(--brand-color);
}
.contacts {
  padding: 32px 0;
  color: var(--primary-text-color);
}
.contacts:hover,
.contacts:focus,
.nav-menu:focus {
  color: var(--brand-color);
}

/* Стилі для сторінки студіо */
/* Hero */
.hero {
  padding-bottom: 200px;
  background-color: var(--hero-footer-bg-color);
}
.hero-title {
  width: 696px;
  padding: 200px 0 30px;
  margin: auto;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn.primary {
  padding: 10px 32px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.btn.primary:hover {
  background-color: var(--hover-brand-color);
}
/* Секція переваг (benefits) */
.container-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.items-benefits {
  display: flex;
  align-items: baseline;
  gap: 30px;
  width: 1170px;
}
.benefits {
  width: 270px;
}
.title-benefits {
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-benefits {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Секція занять */
.container-work {
  padding-bottom: 94px;
}
.title-work {
  margin-bottom: 50px;
}
.work-item {
  display: flex;
  justify-items: center;
  gap: 30px;
}

/* Секція команди */
.list-team-card {
  display: flex;
  justify-items: center;
  gap: 30px;
  margin-top: 50px;
}
.items-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team {
  padding: 94px 0;
  background-color: var(--section-bg-color);
}
.list-team {
  background-color: var(--primary-color);
  width: 270px;
}
.title-team,
.text.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-team {
  font-weight: 500;
}

/* Стилі для сторінки Портфоліо */
/* Портфоліо */
.btn {
  padding: 6px 22px;
  background-color: var(--section-bg-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.decision {
  color: var(--primary-color);
  width: 370px;
}
.btn:active,
.btn:hover,
.btn:focus {
  background-color: var(--brand-color);
  color: var(--primary-color);
}
.btn.current {
  background-color: var(--brand-color);
  color: var(--primary-color);
}
.list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
footer {
  background-color: var(--hero-footer-bg-color);
}
.footer-container {
  padding: 60px 0;
}
.address,
.callback {
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.address {
  display: inline-block;
  margin-top: 20px;
  color: var(--primary-color);
}
.callback {
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.callback:hover,
.callback:focus {
  color: var(--brand-color);
}
